@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	.dm-serif-display-regular-italic {
		font-family: "DM Serif Display", serif;
		font-weight: 400;
		font-style: italic;
	}
}

::-webkit-scrollbar {
	display: none;
}

